#root {
  min-width: 300px;
}

#searchContainer {
  width: 100vw;
  display: grid;
  grid-template-rows: auto auto;
  padding-top: 10px;
}

#category {
  outline: none;
  border: none;
  border-radius: 8px;
  color: #fff;
  background-color: rgb(138, 138, 138);
  margin-top: 10px;
  padding: 5px 0 5px 5px;
  width: 80px
}

#inputDiv {
  padding: 10px;
  margin: -10px 0 10px 0;
}

#btn {
  margin: -12px 0 5px 10px;
  float: left;
  width: 93vw;
  height: 50px;
}

#tabContainer {
  display: grid;
  grid-template-columns: auto auto 60px;
  text-align: center;
}

.box {
  height: 15px;
  margin: 5px;
  text-align: center;
  border-bottom: 1px solid #000;
  cursor: pointer;
}

.box:active {
  background-color: rgba(0, 0, 0, 0.11);
}


.record {
  display: grid;
  grid-template-rows: auto auto;
  width: 100vw;
  height: 70px;
  padding: 0 10px 0 10px;
  border-radius: 5px;
}

.searchBtn {
  height: 30px;
}
.deleteBtn {
  outline: none;
}
.recordIcon {
  width: 20px;
  margin-top: -10px;
}
.recordBtn {
  height: 30px;
  width: 43vw;
  float: left;
  margin: 0 5px 0 5px;
}

.enterIcon {
  width: 30px;
}

.issue {
  resize: both;
  margin: 15px 0 15px 0;
  padding: 5px 10px 10px 10px;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
}
.issueTitle {
  margin: 10px 0 10px 5px;
}
.tag {
  resize: both;
  display: inline;
  padding: 2px 6px 2px 6px;
  margin-left: 3px;
  font-size: 10px;
  border-radius: 10px;
}


details {
  margin-top: 10px;
  width: 100%;
}
summary {
  margin-bottom: 5px;
  outline: none;
  border: none;
  animation-duration: 4s;
}

details > summary::-webkit-details-marker {
  display: none;
}

.alert {
  margin-top: 5px;
}

/* Auth window */
#authBtn {
  height: 70px;
  margin-top: 10px;
}


#authBtn > p {
  line-height: 0px;
  margin-top: 15px;
}